<div id="block-list">  
  <ul>
    <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
    <li><%= link_to "Company Solutions Column" ,:action => "company_col"%></li>
    <li><%= link_to "Recent Success Solutions Comment" ,:action => "recent_col"%></li>
    <li><%= link_to "Solutions Show Page" ,:action => "list"%></li>
  </ul>
  
  
</div><!-- End #back-list -->
