<%= stylesheet_link_tag "back-solutions", :media => "all"  %>   
<% @title = "CGT Solutions Page Back - Important Information" -%>
<% @header = "CGT Solutions Page Back - Important Information" -%>

<div id="block-mgt">  
  
  <%= render(:partial => 'menu') %>      
    
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Important Information On CGT Solutions Page Back</h3>
      <p>In side-bar of this page, there are 6 contents to be managed. They are as follows.
      <p><strong>"Company Solutions Column" </strong>    <br />       
        It shows aims of CGT solutions, that is located in dwon-left of CGT Solutions page. The comment box size is max 910 letters and its font size is 14px. Its content is only text.<br />  	
      </p><br /><br /><br /><br />
      
      <p><strong>"Recent Success Solutions Comment"</strong>    <br /> 
        It briefs the solutions that CGT provides ifor its clients. The comment is located in dwon-right of CGT Solutions page. The comment box size is max 230 letters and its font size is 14px. Its content is only text.<br />  	           
      </p><br /><br /><br /><br /><br />
      
      <p><strong>"Solutions Show Page"</strong>    <br /> 
        It describes all solutions of CGT. The page is located under Software Development Comment. The comment box size is changeable with its context and its font size is 14px. The content can include text, pictures and videos. 	
      </p><br /><br /><br /><br />
      
      
    </div><!-- end #operate-intro -->
    
  </div> <!-- end #operate-mgt -->
</div> 
<!-- end #block-mgt -->
