<%= stylesheet_link_tag "privacy", :media => "all"  %>   
<% @title = "CGT Privacy Policy" -%>
<!-- Privacy Policy Block -->
<div id="privacy-line">
  <!-- About privacy Title Block -->
  <div id="privacy-title"> 
    <%=image_tag("privacy-title-pic.gif")%>
    <p>Privacy Policy</p>
  </div>
  <div id="privacy-show">
    <div id="privacy-sub">
      <p id="privacy-date">Date: system format</p>
      <p id="privacy-author">Author:XXXX</p>
    </div>
    <div id="privacy-article">
      <p>Here is the content of Privacy Policy.</p>
    </div> 
    <div id="privacy-email">
      <p>Email: info@cgtechco.com </p>
    </div> 
  </div>
</div>
<!-- End of Privacy Policy Block -->
