
<!-- Right side of categories and archives -->
<div id="employees-right">
  <div class="widget_style" id="categories">
    <h4>Categories</h4><br />
    <ul>
      <% for category in IdeaType.find(:all) %>   
        <li class="cat-item"><%= link_to category.title+'('+Idea.count(:conditions => [ "idea_type_id = ?" , category.id]).to_s+')',:action => 'ideaslist',:id => category %></li>
      <% end %>   
    </ul>
  </div>
  <div class="widget_style" id="archives">
    <h4>Archives</h4><br />
    <ul>
      <li><a href='#' title='August 2008'>August 2008</a>&nbsp;(38)</li>
      <li><a href='#' title='July 2008'>July 2008</a>&nbsp;(5)</li>
    </ul>
  </div>
</div>
<!-- End of Right side of categories and archives -->
