<div id="block-list">  
  <ul>
    <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
    <li><%= link_to "Our Partners Comment" ,:action => 'partners_comm' %></li>
    <li><%= link_to "Partners Show Column" ,:action => "list"%></li>
  </ul>
</div><!-- End #back-list -->
