<%= stylesheet_link_tag "back-partners", :media => "all"  %>   
<% @title = "CGT Partners Page Back - Important Information" -%>
<% @header = "CGT Partners Page Back - Important Information" -%>
<div id="block-mgt">  
  <%= render(:partial => 'menu') %>      
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Important Information On CGT Partners Page Back</h3>
      <p>In side-bar of this page, besides "Web Back Menu" item, there are 2 items to be listed. They are as follows.<br /> 
      </p><br /><br />
      
      <p><strong>"Our Partners Comment" </strong>    <br />       
        It shows brief of CGT partners that is located in middle of Our Partners page. The comment box size is totally 568 letters (142 letters X 4 lines), but the 3 lines are for the brief, and the last line is for the contact email address. Its font size is 12px and its content is only text.<br />  	
      </p><br /><br /><br /><br />
      
      <p><strong>"Partners Show Column"</strong>    <br /> 
        It demonstrates CGT's partners logo with their URLs and their brief information. The logo column size of each partner is 80X60px, and another box is for partner's information which size is 280X60px (190 letters) and its font size is 12px. On the logo, there is a link of the partner's website. <br />  	           
      </p><br /><br /><br /><br /><br />
      
    </div><!-- end #operate-intro -->
    
  </div> <!-- end #operate-mgt -->
</div> 
<!-- end #block-mgt -->

