<div id="block-list">  
  <ul>
    <li><%= link_to "Web Back Menu" ,:controller => "back_menu"%></li>
    <li><%= link_to "Our Clients Comment" ,:action => 'clients_comm' %></li>
    <li><%= link_to "Clients Show Column" ,:action => "list"%></li>
  </ul>
</div><!-- End #back-list -->
