<%= stylesheet_link_tag "back-clients", :media => "all"  %>   
<% @title = "CGT Clients Page Back - Important Information" -%>
<% @header = "CGT Clients Page Back - Important Information" -%>
<div id="block-mgt">  
  <%= render(:partial => 'menu') %>      
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Important Information On CGT Clients Page Back</h3>
      <p>In side-bar of this page, besides "Web Back Menu" item, there are 2 items to be displayed. They are as follows.<br />
      </p><br /> <br />
      
      <p><strong>"Our Clients Comment" </strong>    <br />       
        It shows brief of CGT clients that is located in middle of Our Clients page. The comment box size is totally 568 letters (142 letters X 4 lines), but the 3 lines are for the brief, and the last line is for the contact email address. Its font size is 12px and its content is only text.<br />  	
      </p><br /><br /><br /><br />
      
      <p><strong>"Clients Show Column"</strong>    <br /> 
        It demonstrates CGT's clients logo and their websites. The column size of each client is 80X50px, but part of it 60X50px is for showing each client's logo, and another 80X20px is for listing each client's name and its URL. In the box, for each client information, there are a line text for the name and URL, and a small picture for the logo.<br />  	           
      </p><br /><br /><br /><br /><br />
      
    </div><!-- end #operate-intro -->
    
  </div> <!-- end #operate-mgt -->
</div> 
<!-- end #block-mgt -->
