@charset "utf-8";
/* CSS Document */

#workteam-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px; height:452px;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
display:inline;
}

#workteam-title {
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	padding:0;
	background-image:url(images/about-workteam-title-bg.gif);
	width:800px;
	height:40px;
	display:inline;
	font-size:24px;
}

#workteam-title img{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:30px;
	height:30px;
	display:inline;
}

#workteam-title p{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:700px;
	height:30px;
	display:inline;
	color:#3399FF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#workteam-show {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	width:800px;
	height:397px;
	display:inline;
}

#workteam-sub {
	float:left;
	position:relative;
	margin-left:10px;
	padding:0px;
	width:780px;
	height:20px;
	display:inline;
}

#workteam-sub p{
	float:left;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding-left:10px;
	width:380px;
	height:10px;
	display:inline;
	font-size:10px;
	color:#999999;
}

#workteam-sub p workteam-date{
	float:left;
	margin:0px;
	padding:0px;
}

#workteam-sub p workteam-author{
	float:right;
	margin:0px;
	padding:0px;
}

#workteam-article {
	float:left;
	margin:0px auto 10px 10px;
	padding:0px;
	width:780px;
	height:367px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	color:#3399FF;
	overflow-y:auto;
	line-height:18px;
}
