@charset "utf-8";
/* CSS Document */

body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #FFF;
	margin-top: 10px; 		
	padding: 0;
	text-align: center; 
	color: #000000;
}

#container {
	width: 1000px;  
	height: 900px;
	background: #FFF;
	margin: 0 auto; 
	border: 1px solid #6666FF;
	text-align: left; 
	color:#6666FF;
}

#header { 
	background: #FFF; 
	height: 60px;
	border-bottom: 1px solid #6666FF;
	padding: 0 20px;  
} 

#header h1 {
	margin: 0; 
	padding: 10px 0; 
	color:#F00;
	text-align: left;
}

#block-mgt {
	float:left;
	position:relative;
	width: 1000px;
	height: 740px;
	margin: 0; 
}

#block-list {
	float:left;
	position:relative;
	width: 160px;
	height: 730px;
	margin: 0;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:20px;
	text-align:left;
	font-size:12px;
	border-right: 1px solid;
}

#block-list ul{
	float:left;
	position:relative;
	width:140px;
	margin:0;
	font-size:12px;
	padding:0;
}

#block-list li{
	float:left;
	width:130px;
	list-style-type:none;
	text-align:left;
	padding:5px 0px;	
	color:#C30;
}

#block-list a:link, #block-list a:visited{
	color:#C30;
	text-decoration:underline;
}

#block-list a:hover{
	color:#0000FF;           	
	text-decoration:underline;
}

#operate-mgt {
	float:right;
	position:relative;
	margin:0;
	width: 829px;
	height:740px;
	text-align: center;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-bottom:20px;
}

#operate-intro {
	width:789px;
	height:160px;
	margin:0;
	padding:20px;
	border-bottom:1px solid #66F;
	color:#F00;
}

#operate-intro h3 {
	width:789px;
	margin:0;
}

#operate-intro p {
	width:789px;
	margin-top:20px;
	text-align: left;
}

#operate-area {
	width:789px;
	height:520px;
	margin:0;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
}

#operate-area h3 {
	width:789px;
	margin:0;
}

#operate-show {
	position:inherit;
	width:306px;
	height:160px;
	border:1px solid #6666FF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0099FF;
	margin:20px 240px 0px 240px;
	text-align:left;
}

#operate-words {
	position: inherit;
	border:1px solid #6666FF;
	margin:0px 240px 20px 240px;
	width:306px;
	height:36px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif; 
	line-height:12px;
	text-align:left;
	color:#000;
	overflow:hidden;
}

#operate-author,  #operate-admin{
	width:306px;
	height:20px;
	color:#6666FF;
	text-align:left;
	margin:0px 240px;
}

#operate-author h5, p,  #operate-admin h5, p{
	width:306px;
	height:20px;
	margin:0px;
}

#operate-buttons {
	width:789px;
	height:24px;
	margin-top:10px;
	text-align:left;
}

#operate-buttons ul{
	list-style-type:none;
	color:#C30;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:3px;
	padding-left: 0px;
}

#operate-buttons li{
	float:left; 
	text-align:left;
	padding-left: 0px;
	padding-right:20px;
	margin:0px;
}

#operate-buttons a:link, #operate-buttons a:visited{
	color:#C30;
	text-decoration:underline;
}

#operate-buttons a:hover{
	color:#0000FF;           	
	text-decoration:underline;
}

#operate-submit {
	width:789px;
	height:20px;
	margin-top:20px;
}

#operate-submit input{
	color: #0000FF;
}