@charset "utf-8";
/* CSS Document */

body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #FFF;
	margin-top: 10px; 			
	padding: 0;
	text-align: center; 
	color: #000000;
}

#container {
	width: 1000px;  
	height: 930px;
	background: #FFF;
	margin: 0 auto; 
	border: 1px solid #6666FF;
	text-align: left; 
	color:#6666FF;
}

#header { 
	background: #FFF; 
	height: 60px;
	border-bottom: 1px solid #6666FF;
	padding: 0 20px;  
} 

#header h1 {
	margin: 0; 
	padding: 10px 0; 
	color:#F00;
	text-align: left;
}

#block-mgt {
	float:left;
	position:relative;
	width: 1000px;
	height: 780px;
	margin: 0;
}

#block-list {
	float:left;
	position:relative;
	width: 170px;
	height: 750px;
	margin: 0;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:20px;
	text-align:left;
	font-size:12px;
	border-right: 1px solid;
}

#block-list ul{
	float:left;
	position:relative;
	width:165px;
	margin:0;
	font-size:12px;
	padding:0
}

#block-list li{
	float:left;
	width:165px;
	list-style-type:none;
	text-align:left;
	padding:5px 0px;	
	color:#C30;
}

#block-list a:link, #block-list a:visited{
	color:#C30;
	text-decoration:underline;
}

#block-list a:hover{
	color:#0000FF;           	
	text-decoration:underline;
}

#operate-mgt {
	float:right;
	position:relative;
	margin:0;
	width: 819px;
	height:760px;
	text-align: center;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-bottom:20px;
}

#operate-intro {
	width:799px;
	height:160px;
	margin:0;
	padding:10px;
	border-bottom:1px solid #66F;
}

#operate-intro h3 {
	width:800px;
	margin:0;
}

#operate-intro p {
	width:800px;
	height:20px;
	margin-top:20px;
	text-align: left;
}

#operate-area {
	width:820px;
	height:580px;
	margin:0;
	padding-top:20px;
}

#operate-area h3 {
	width:800px;
	margin:0;
}

#operate-listing {
	position:left;
	width:800px;
	height:500px;
	border:1px solid #6666FF;
	margin:10px 10px;
	text-align:left;
}

#operate-line {
	position:left;
	width:800px;
	height:450px;
	margin-top:15px;
	text-align:left;
}

#operate-item {
	position:left;
	font-family:Arial, Helvetica, sans-serif;
	width:800px;
	height:24px;
	color:#000;
	font-size:14px;
	margin:5px 0px;
	text-align:left;
}

#operate-item ul {
	list-style-type:none;
	width:800px;
	height:24px;
	margin:0;
	padding-top:0px;
	display:inline;
	line-height:20px;
}

#operate-item li{
	height:24px;
	margin:0;
	padding-top:0px;
	padding-left:0px;
	padding-right:30px;
	display:inline;
	line-height:20px;
}
#operate-item input {
	margin:0px;
	padding:0px;
}


#operate-buttons {
	width:800px;
	height:24px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;		
	padding:0;
}

#operate-buttons ul{
	list-style-type:none;
	width:800px;
	color:#C30;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:5px;
	padding:0;
}

#operate-buttons li{
	float:left; 
	padding:0px;
	padding-left:50px;
	padding-right:50px;
	margin:0px;
}

#operate-buttons a:link, #operate-buttons a:visited{
	color:#C30;
	text-decoration:underline;
}

#operate-buttons a:hover{
	color:#0000FF;           	
	text-decoration:underline;
}


#news-buttons{
	float:left;
	position:relative;
	margin-top:7px;
	padding:0;
	width:800px;
	height:20px;
	font-family: Helvetica, sans-serif;
	font-size:12px;
	display:inline;
	color:#999999;
}

DIV.paginate {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px; 
	TEXT-ALIGN: center;
}

DIV.paginate A {
	BORDER-RIGHT: #9aafe5 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #9aafe5 1px solid; 
	PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #9aafe5 1px solid; 
	COLOR: #2e6ab1; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #9aafe5 1px solid; 
	TEXT-DECORATION: none;
}

DIV.paginate A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; 
	BORDER-TOP: #2b66a5 1px solid; 
	BORDER-LEFT: #2b66a5 1px solid; 
	COLOR: #000; 
	BORDER-BOTTOM: #2b66a5 1px solid; 
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate A:active {
	BORDER-RIGHT: #2b66a5 1px solid; 
	BORDER-TOP: #2b66a5 1px solid; 
	BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; 
	BORDER-BOTTOM: #2b66a5 1px solid; 
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate SPAN.current {
	BORDER-RIGHT: navy 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: navy 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: navy 1px solid; 
	COLOR: #fff; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: navy 1px solid; 
	BACKGROUND-COLOR: #2e6ab1;
}

DIV.paginate SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #929292 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #929292 1px solid; 
	COLOR: #929292; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #929292 1px solid;
}
