@charset "utf-8";
/* CSS Document */

#back-buttons {
float:left;
position:relative;
border-bottom: 1px solid #6666FF;
margin:0;
padding:0;
width:1000px;
height:20px;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
display:inline;
}

#back-buttons ul{
list-style-type:none;
position:relative;
margin:0px 0px 0px 0px;
}

#back-buttons li{
float:left; 
text-align:center;
padding:3px 10px 3px 10px;	
}

#back-buttons a:link, #back-buttons a:visited{
color:#0000FF;
text-decoration:none;
}

#back-buttons a:hover{
color:#FF0000;           	
text-decoration:underline;
}



#cgt-footer {
float:left;
position:relative;
background: #FFFFFF;
text-align: center;
width:1000px;
height:60px;
border-top: 1px solid #6666FF;
display:inline;
color:#444444;
}

#cgt-footer-copyright {
float:left; 
width:1000px; 
height:30px;	
margin:0px; 
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}

#cgt-footer-copyright ul{
	list-style-type:none;
	position:relative;
	width: 1000px;
	left:0px;
	top:7px;
	padding:0px;
	margin:0px;
	height: 20px;
	text-align: center;
}

#cgt-footer-copyright li{
float:inherit; 
text-align:center;
padding:0 10px;	
display:inline;
}

#cgt-footer-copyright a:link, #cgt-footer-copyright a:visited{
color:#0000FF;
text-decoration:none;
}

#cgt-footer-copyright a:hover{
color:#FF0000;           	
text-decoration:underline;
}

#cgt-footer-usa {
float:left; 
width:400px; 
height:20px;	
margin-top:5px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
display:inline;
}

#cgt-footer-portland {
float:left; 
width:60px; 
height:15px;	
margin-left:120px; 
margin-top:3px;
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color:#444444;
display:inline;
}

#cgt-footer-portland p{
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
font-size:10px;
display:inline;
}

#cgt-footer-portland-date iframe{
float:right; 
text-align:left;
width:200px; height:20px;	
margin-right:20px; 
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}

#cgt-footer-china {
float:right; 
width:370px; 
height:20px;	
margin-top:5px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
display:inline;
}

#cgt-footer-beijing {
float:left; 
width:60px;
height:15px;	
margin-top:3px; 
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color:#444444;
display:inline;
}

#cgt-footer-beijing p{
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
font-size:10px;
display:inline;
}

#cgt-footer-beijing-date iframe{
float:left; 
text-align:left;
width:200px; height:20px;	
margin:0px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}
