@charset "utf-8";
/* CSS Document */


body {
text-align:center;
background-color:#FFFFFF;
}

#main {
position:relative;
margin:0px auto 0px auto;
text-align:left;
width:800px; 
height:500px;
}

#employees-banner {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:800px;
	height:150px;
	display:inline;
}

#employees-page {
float:left;
position:relative;
margin-right:20px;
padding:0;
width:380px;
height:150px;
display:inline;
}

#employees-page img{
float:left;
position:relative;
margin-top:15px;
margin-right:30px;
padding:0;
display:inline;
}

#employees-board {
float:right;
position:relative;
margin:0;
padding:0;
width:400px;
height:150px;
display:inline;
}

#employees-buttons {
float:left;
position:relative;
margin:0;
padding:0;
width:800px;
height:30px;
font-size:14px;
font-family:Verdana, Arial, Helvetica, sans-serif;
display:inline;
}

#employees-buttons ul{
list-style-type:none;
position:absolute;			
margin:0px 0px 0px 0px;
width:800px;
height:30px;
}

#employees-buttons li{
float:left; 
text-align:center;
padding:7px 10px 7px 10px;	
}

#employees-buttons a:link, #employees-buttons a:visited{
color:#FF0000;
text-decoration:none;
}

#employees-buttons a:hover{
color:#0000FF;           	
text-decoration:underline;
}

#employees-main {
	float:left;
	position:relative;
	margin:0;
	width:800px;
	height:240px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FF0000;
	display:inline;
} 

#employees-main h1{
float:left; 
position:relative;
margin-top:95px;
margin-bottom:95px;
width:800px;
height:50px;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
color:#FF0000;
display:inline;
} 



/*  Common Footer  */

#cgt-footer {
float:left;
position:relative;
margin-top:20px;
width:800px;
height:60px;
display:inline;
}

#cgt-footer-copyright {
float:left; 
width:800px; height:30px;	
margin:0px; 
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}

#cgt-footer-copyright ul{
list-style-type:none;
position:absolute;			
width:440px;
left:180px;
top:10px;					
padding:0px;
margin:0px;
height: 20px;
}

#cgt-footer-copyright li{
float:left; 
text-align:center;
padding:2px 15px 0px 15px;	
display:inline;
}

#cgt-footer-copyright a:link, #cgt-footer-copyright a:visited{
color:#0000FF;
text-decoration:none;
}

#cgt-footer-copyright a:hover{
color:#FF0000;           	/* 蓝色 */
text-decoration:underline;
}

#cgt-footer-usa {
float:left; 
width:400px; height:20px;	
margin-top:5px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
display:inline;
}

#cgt-footer-portland {
float:left; 
width:60px; height:15px;	
margin-left:120px; 
margin-top:3px;
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color:#444444;
display:inline;
}

#cgt-footer-portland p{
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
font-size:10px;
display:inline;
}

#cgt-footer-portland-date iframe{
float:right; 
text-align:left;
width:200px; height:20px;	
margin-right:20px; 
padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}

#cgt-footer-china {
float:right; 
width:370px; height:20px;	
margin-top:5px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
text-align:center;
display:inline;
}

#cgt-footer-beijing {
float:left; 
width:60px; height:15px;	
margin-top:3px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color:#444444;
display:inline;
}

#cgt-footer-beijing p{
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
font-size:10px;
display:inline;

}

#cgt-footer-beijing-date iframe{
float:left; 
text-align:left;
width:200px; height:20px;	
margin:0px; padding:0px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
display:inline;
}
