@charset "utf-8";
/* CSS Document */

#privacy-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px; height:452px;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
display:inline;
}

#privacy-title {
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	padding:0;
	background-image:url(images/privacy-title-bg.gif);
	width:800px;
	height:40px;
	display:inline;
	font-size:24px;
}

#privacy-title img{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:30px;
	height:30px;
	display:inline;
}

#privacy-title p{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:700px;
	height:30px;
	display:inline;
	color:#009966;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#privacy-show {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	width:800px;
	height:397px;
	display:inline;
}

#privacy-sub {
	float:left;
	position:relative;
	margin-left:10px;
	padding:0px;
	width:780px;
	height:20px;
	display:inline;
}

#privacy-sub p{
	float:left;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding-left:10px;
	width:380px;
	height:10px;
	display:inline;
	font-size:10px;
	color:#999999;
}

#privacy-sub p privacy-date{
	float:left;
	margin:0px;
	padding:0px;
}

#privacy-sub p privacy-author{
	float:right;
	margin:0px;
	padding:0px;
}

#privacy-article {
	float:left;
	margin:0px auto 10px 10px;
	padding:0px;
	width:780px;
	height:347px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	color:#009966;
	overflow-y:auto;
	line-height:18px;
}

#privacy-email {
	float:left;
	margin-left:10px;;
	padding:0px;
	width:780px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	color:#333333;
	line-height:18px;
}

#privacy-email p{
	float:left;
	margin:0px;
	padding:0px;
}
