@charset "utf-8";
/* CSS Document */

#services-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px; height:452px;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
display:inline;
}

#serviceslist-title {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	background-image:url(/images/comm-silver-box.gif);
	width:800px;
	height:40px;
	display:inline;
	color:#FF6600;
}

#serviceslist-search {
	float:right;
	position:relative;
	margin:0;
	padding:0;
	width:250px;
	height:40px;
	display:inline;
	color:#666666;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#serviceslist-title img{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:30px;
	height:30px;
	display:inline;
}

#serviceslist-title p{
	float:left;
	position:relative;
	margin:5px 0px 5px 5px;
	padding:0px;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	width:250px;
	height:30px;
	font-size:24px;
	font-weight:bold;
}

#serviceslist-search form{
	float:right;
	position:relative;
	margin:8px auto 8px auto;
	padding:0;
	width:230px;
	height:24px;
	display:inline;
}

#serviceslist-listmenu {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:800px;
	height:30px;
	display:inline;
}

#servicesfind-show {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	width:800px;
	height:372px;
	display:inline;
}

#servicesfind-show h3{
	float:left;
	position:relative;
	margin:10px 10px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	width:780px;
	height:24px;
	display:inline;
	color:#F69;
	text-align:center;
	display:inline;
}

#servicesfind-result {
	float:left;
	position:relative;
	margin:5px 0px 0px 10px;
	padding:0px;
	width:780px;
	height:303px;
	display:inline;
}

#sf-display {
	float:left;
	position:relative;
	margin-left:10px;
	padding:0;
	width:760px;
	height:30px;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	display:inline;
	color:#333333;
}

#sf-display img{
	float:left;
	position:relative;
	margin:5px 0px;
	padding:0;
	width:16px;
	height:16px;
	display:inline;
}

#sf-display a{
	float:left;
	position:relative;
	margin:4px 10px;
	padding:0;
	width:630px;
	height:20px;
	font-size:14px;
	display:inline;
	color:#333333;
	text-align:justify;
}

#sf-display a:link, #news-display a:visited{
	text-decoration:none;
}

#sf-display a:hover{
	color:#0000FF;           	
	text-decoration:underline;
}

#sf-display p{
	float:left;
	position:relative;
	margin:4px 0px;
	padding:0;
	width:90px;
	height:20px;
	font-size:14px;
	display:inline;
	color:#333333;
	text-align:justify;
}

#sf-buttons{
	float:left;
	position:relative;
	margin-top:4px;
	margin-left:20px;
	padding:0;
	width:760px;
	height:20px;
	font-family: Helvetica, sans-serif;
	font-size:12px;
	display:inline;
	color:#999999;
}

DIV.paginate {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 5px; 
	PADDING-TOP: 3px; 
	TEXT-ALIGN: center;
}

DIV.paginate A {
	BORDER-RIGHT: #9aafe5 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #9aafe5 1px solid; 
	PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #9aafe5 1px solid; 
	COLOR: #2e6ab1; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #9aafe5 1px solid; 
	TEXT-DECORATION: none;
}

DIV.paginate A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; 
	BORDER-TOP: #2b66a5 1px solid; 
	BORDER-LEFT: #2b66a5 1px solid; 
	COLOR: #000; 
	BORDER-BOTTOM: #2b66a5 1px solid; 
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate A:active {
	BORDER-RIGHT: #2b66a5 1px solid; 
	BORDER-TOP: #2b66a5 1px solid; 
	BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; 
	BORDER-BOTTOM: #2b66a5 1px solid; 
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate SPAN.current {
	BORDER-RIGHT: navy 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: navy 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: navy 1px solid; 
	COLOR: #fff; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: navy 1px solid; 
	BACKGROUND-COLOR: #2e6ab1;
}

DIV.paginate SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #929292 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #929292 1px solid; 
	COLOR: #929292; 
	MARGIN-RIGHT: 2px; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #929292 1px solid;
}

	
