@charset "utf-8";
/* CSS Document */

#services-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px; height:452px;
border-top:1px double #999999;
display:inline;
}

#services-services {
float:left;
position:relative;
margin:5px 5px 5px 5px;
width:440px; height:442px;
display:inline;
}

#services-list {
float:left;
position:relative;
margin:5px 0px 0px 5px;
width:345px; height:447px;
background-color:#CCCCCC;
display:inline;
}

#services-company {
float:left;
position:relative;
margin:0px;
padding:0px;
width:440px; height:40px;
display:inline;
}

#services-company-pic {
float:left;
position:relative;
margin:0px;
padding:0px;
width:40px; height:40px;
display:inline;
}

#services-company-services {
float:left;
position:relative;
margin:0px;
padding:0px;
width:400px; height:40px;
display:inline;
}

#services-company-services h3 {
float:left;
position:relative;
margin:8px auto 9px auto;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
color:#FF0000;
display:inline;
}

#services-integrations {
float:left;
position:relative;
margin:0px;
padding:0px;
width:440px; height:102px;
display:inline;
}

#services-integrations-pic {
float:left;
position:relative;
margin:0px;
padding:12px 10px 10px 10px;
width:80px; height:80px;
display:inline;
}

#services-integrations-comm {
float:left;
position:relative;
margin:0px;
padding:12px 10px 10px 10px;
width:320px; height:80px;
display:inline;
}

#services-integrations-title {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:20px;
display:inline;
}

#services-integrations-title p{
float:left;
position:relative;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#339900;
display:inline;
}

#services-integrations-title a{
color:#339900;
}

#services-integrations-content {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
display:inline;
line-height:15px;
overflow:hidden;
}

#services-integrations-content p{
margin:0px;
padding:0px;
}

#services-software {
float:left;
position:relative;
margin:0px;
padding:0px;
width:440px; height:100px;
display:inline;
}

#services-software-pic {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:80px; height:80px;
display:inline;
}

#services-software-comm {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:320px; height:80px;
display:inline;
}

#services-software-title {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:20px;
display:inline;
}

#services-software-title p{
float:left;
position:relative;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#339900;
display:inline;
}

#services-software-title a{
color:#339900;
}

#services-software-content {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
display:inline;
line-height:15px;
overflow:hidden;
}

#services-software-content p{
margin:0px;
padding:0px;
}

#services-music {
float:left;
position:relative;
margin:0px;
padding:0px;
width:440px; height:100px;
display:inline;
}

#services-music-pic {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:80px; height:80px;
display:inline;
}

#services-music-comm {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:320px; height:80px;
display:inline;
}

#services-music-title {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:20px;
display:inline;
}

#services-music-title a{
color:#339900;
}


#services-music-title p{
float:left;
position:relative;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#339900;
display:inline;
}

#services-music-content {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
display:inline;
line-height:15px;
overflow:hidden;
}

#services-music-content p{
margin:0px;
padding:0px;
}

#services-consultant {
float:left;
position:relative;
margin:0px;
padding:0px;
width:440px; height:100px;
display:inline;
}

#services-consultant-pic {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:80px; height:80px;
display:inline;
}

#services-consultant-comm {
float:left;
position:relative;
margin:0px;
padding:10px 10px 10px 10px;
width:320px; height:80px;
display:inline;
}

#services-consultant-title {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:20px;
display:inline;
}

#services-consultant-title a{
color:#339900;
}


#services-consultant-title p{
float:left;
position:relative;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#339900;
display:inline;
}

#services-consultant-content {
float:left;
position:relative;
margin:0px;
padding:0px;
width:320px; height:60px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
display:inline;
line-height:15px;
overflow:hidden;
}

#services-consultant-content p{
margin:0px;
padding:0px;
}

#services-list-title {
	float:right;
	position:relative;
	margin:8px 10px 0px 10px;
	width:325px;
	height:40px;
	background-image:url(/images/comm-grey-box.gif);
	display:inline;
}

#services-list-title-pic {
float:left;
position:relative;
margin:0px;
padding:5px 5px;
width:30px;
height:30px;
display:inline;
}

#services-list-title h3{
float:left;
position:relative;
margin:8px auto;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
color:#FF0000;
width:200px;
height:24px;
display:inline;
}

#services-list-comm {
	float:left;
	position:relative;
	margin:10px 20px 4px 20px;
	padding:0px;
	width:305px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	display:inline;
	line-height:14px;
	overflow:hidden;
}

#services-list-comm p{
margin:0px;
padding:0px;
}

#services-list-list {
float:left;
position:relative;
margin:0px 20px;
padding:0px;
width:305px;
height:320px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
display:inline;
line-height:16px;
overflow:hidden;
}

#services-list-list ul li {
margin:0px;
padding:0px;
color:#0000FF;
}

#services-list-more {
float:left;
margin:0px 20px 0px 20px;
padding:0px;
width:305px;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
text-align:right;
display:inline;
}

#services-list-more a {
margin:0px;
padding:0px;
}
