@charset "utf-8";
/* CSS Document */

#solutions-show-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px; height:452px;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
display:inline;
}

#solutions-show {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	width:800px;
	height:447px;
	display:inline;
}

#solutions-show-title {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	background-image:url(/images/solutions-show-title-bg.gif);
	width:800px;
	height:40px;
	display:inline;
	font-size:24px;
}

#solutions-show-title img{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:30px;
	height:30px;
	display:inline;
}

#solutions-show-title p{
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	padding:0;
	width:480px;
	height:30px;
	display:inline;
	color:#CC0000;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#solutions-show-search {
	float:right;
	position:relative;
	margin:0;
	padding:0;
	width:250px;
	height:40px;
	display:inline;
	color:#666666;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#solutions-show-search form{
	float:right;
	position:relative;
	margin:8px auto 8px auto;
	padding:0;
	width:230px;
	height:24px;
	display:inline;
}

#solutions-show-menu {
	float:left;
	position:relative;
	margin-top:2px;
	padding:0;
	width:200px;
	height:auto;
	font-size:14px;
	display:inline;
	background-color: #F0FDFF;
	}

#solutions-show-menu ul{
float:left;
position:relative;
width:200px;
height:auto;
padding:0px;
margin:0px;
}

#solutions-show-menu li{
float:left;
position:relative;
list-style-type:none;
text-align:left;
margin:5px 0px;
padding-left:5px;
}

#solutions-show-menu li img{
float:left;
padding:0px 6px;
}

#solutions-show-menu a:link, #solutions-show-menu a:visited{
color: #C63;
text-decoration:none;
}

#solutions-show-menu a:hover{
color:#0000FF;
text-decoration:underline;
}


#solutions-find {
	float:left;
	position:relative;
	margin-left:10px;
	padding:0;
	width:590px;
	height:407px;
	display:inline;
}

#solutions-find-title {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:590px;
	height:24px;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:center;
	color:#F69;
}

#solutions-find-title p{
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:590px;
	height:24px;

}

#solutions-result {
	float:left;
	position:relative;
	margin-top:10px;
	padding:0;
	width:590px;
	height:340px;
	display:inline;
	color:#666666;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}

#solutions-display {
	float:left;
	position:relative;
	padding:0;
	width:590px;
	height:33px;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	display:inline;
	color:#333333;
}

#solutions-display img{
	float:left;
	position:relative;
	margin:5px 0px;
	padding:0;
	width:16px;
	height:16px;
	display:inline;
}

#solutions-display a{
	float:left;
	position:relative;
	margin:4px 10px;
	padding:0;
	width:460px;
	height:20px;
	font-size:14px;
	display:inline;
	color:#333333;
	text-align:justify;
}

#solutions-display a:link, #news-display a:visited{
	text-decoration:none;
}

#solutions-display a:hover{
	color:#0000FF;
	text-decoration:underline;
}

#solutions-display p{
	float:left;
	position:relative;
	margin:4px 0px;
	padding:0;
	width:90px;
	height:20px;
	font-size:14px;
	display:inline;
	color:#333333;
	text-align:justify;
}

#solutions-buttons{
	float:left;
	position:relative;
	margin-top:3px;
	padding:0;
	width:590px;
	height:30px;
	font-family: Helvetica, sans-serif;
	font-size:12px;
	display:inline;
	color:#999999;
}

DIV.paginate {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 5px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
}

DIV.paginate A {
	BORDER-RIGHT: #9aafe5 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #9aafe5 1px solid;
	PADDING-LEFT: 5px; PADDING-BOTTOM: 2px;
	BORDER-LEFT: #9aafe5 1px solid;
	COLOR: #2e6ab1;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #9aafe5 1px solid;
	TEXT-DECORATION: none;
}

DIV.paginate A:hover {
	BORDER-RIGHT: #2b66a5 1px solid;
	BORDER-TOP: #2b66a5 1px solid;
	BORDER-LEFT: #2b66a5 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #2b66a5 1px solid;
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate A:active {
	BORDER-RIGHT: #2b66a5 1px solid;
	BORDER-TOP: #2b66a5 1px solid;
	BORDER-LEFT: #2b66a5 1px solid; COLOR: #000;
	BORDER-BOTTOM: #2b66a5 1px solid;
	BACKGROUND-COLOR: lightyellow;
}

DIV.paginate SPAN.current {
	BORDER-RIGHT: navy 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: navy 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: navy 1px solid;
	COLOR: #fff;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: navy 1px solid;
	BACKGROUND-COLOR: #2e6ab1;
}

DIV.paginate SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #929292 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #929292 1px solid;
	COLOR: #929292;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #929292 1px solid;
}



