@charset "utf-8";
/* CSS Document */

#solutions-show-line {
float:left;
position:relative;
margin:5px 0px 0px 0px;
width:800px;
height:auto;
border-top:1px solid #999999;
border-bottom:1px solid #999999;
display:inline;
}

#solutions-show {
	float:left;
	position:relative;
	margin-top:5px;
	padding:0;
	width:800px;
	height:auto;
	display:inline;
}

#solutions-show-title {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	background-image:url(images/solutions-show-title-bg.gif);
	width:800px;
	height:40px;
	display:inline;
	font-size:24px;
}

#solutions-show-title img{
	float:left;
	position:relative;
	margin:5px 10px 5px 10px;
	padding:0;
	width:30px;
	height:30px;
	display:inline;
}

#solutions-show-title p{
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	padding:0;
	width:480px;
	height:30px;
	display:inline;
	color:#CC0000;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#solutions-show-search {
	float:right;
	position:relative;
	margin:0;
	padding:0;
	width:250px;
	height:40px;
	display:inline;
	color:#666666;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#solutions-show-search form{
	float:right;
	position:relative;
	margin:8px auto 8px auto;
	padding:0;
	width:230px;
	height:24px;
	display:inline;
}

#solutions-show-menu {
	float:left;
	position:relative;
	margin-top:2px;
	padding:0;
	width:200px;
	height:auto;
	font-size:14px;
	display:inline;
	background-color: #F0FDFF;
	}

#solutions-show-menu ul{
float:left;
position:relative;
width:200px;
height:auto;
padding:0px;
margin:px;
}

#solutions-show-menu li{
float:left;
position:relative;
list-style-type:none;
text-align:left;
margin:5px 0px;
padding-left:5px;
}

#solutions-show-menu li img{
float:left;
padding:0px 6px;
}

#solutions-show-menu a:link, #solutions-show-menu a:visited{
color: #C63;
text-decoration:none;
}

#solutions-show-menu a:hover{
color:#0000FF;
text-decoration:underline;
}




#solutions-show-article {
	float:left;
	position:relative;
	margin-left:10px;
	padding:0;
	width:590px;
	height:auto;
	display:inline;
}

#solutions-article-title {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:590px;
	height:24px;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:center;
	color:#336699;
}

#solutions-article-title p{
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:590px;
	height:24px;
}

#solutions-article-info {
	float:left;
	position:relative;
	margin-top:3px;
	padding:0;
	width:590px;
	height:20px;
	display:inline;
}

#solutions-article-info p {
	float:left;
	position:relative;
	margin:0;
	padding-left:10px;
	width:285px;
	height:10px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	display:inline;
	color:#999999;
}

#solutions-article-info p date{
	float:left;
	position:relative;
	margin:0;
	padding:0;
}

#solutions-article-info p author{
	float:right;
	position:relative;
	margin:0;
	padding:0;
}

#solutions-article {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	width:590px;
	height:auto;
	display:inline;
	color:#666666;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
