<div id="operate-mgt">
  <div id="operate-intro">
    <h3>Important Information About CGT Page Back</h3>
    <p>In side-bar of this page, there are five contents to be managed. They are as follows.
    <p><strong>"About Company Column" </strong>    <br />       
      It is located in the middle-left-up(green column with orange title) of About CGT page. It is an abstract of "About Company" page. The font size is 14px. Its content is only text.<br />  	
    </p><br /><br /><br />
    
    <p><strong>"About Team Column"</strong>    <br /> 
      Its position is in the middle-right(orange column with blue title) of About CGT page. It is an abstract of "About Our Work Team" page. The font size is also 14px. Its content is only text.<br />  	           
    </p><br /><br /><br />
    <p><strong>"About Our Principles Column"</strong>    <br /> 
      The column is in the middle-left-bottom(blue column with pink title) of About CGT page. It is a fixed column of "About Our Guiding Principles". The font size is 14px, too. Its content is only text. 	
    </p><br /><br /><br />
    <p><strong>"About Company Page"</strong>    <br /> 
      About Company Page is an independent page which displays the content about CGT company information. The font size is 14px, too, and its color is orange. The width of its display area is 780px, and the length is not fixed. The content is not only text, but some pictures and videos.
    </p><br /><br /><br /><br />
    <p><strong>"About Team Page"</strong>    <br /> 
      It is the "About Our Work Team" page which shows CGT's work team information. The font size is 14px, too, and its color is blue. The width of its display area is 780px, and the length is not fixed. The content is not only text, but some pictures and videos.
    </p>
  </div><!-- end #operate-intro -->       
</div> <!-- end #operate-mgt -->
