<%= stylesheet_link_tag "back-ab-princ", :media => "all"  %>   
<% @title = "About CGT Page Back - Show About Our Principles Column" -%>
<% @header = "About CGT Page Back - Show About Our Principles Column" -%>
<div id="operate-mgt">
  <div id="operate-intro">
    <h3>Information About Our Guiding Principles Column</h3>
    <p>The column is Our Guiding Principles of About Company page. it is only text. The font size is 14px, and the color is pink. The size of the display box is 475x135px.
    <p>In the column, at most, there are 2 paragraphes in it. In one paragraph case, it includes about 560 letters(70 letters X 8 lines); In two paragraphes case, it has about 490 letters.
    <p>Please review the content as follows.
    </p>
  </div><!-- end #operate-intro -->

  <div id="operate-area">
    <h3>Show About Our Guiding Principles Column Content</h3>
    <h5>(The show box size is the same to the column on About Company page.)</h5>
    <div id="operate-show">
      <p><%=  @princ.content %></p>
    </div>
    <div id="operate-author">
      <h5>Current Author:  </h5> 
    </div>
    <div id="operate-author">     
      <p><%=  @princ.author %></p>
    </div>
    <div id="operate-admin">
      <h5>Current Admin: </h5> 
    </div>    
    <div id="operate-admin">
      <p>DerDer</p>
    </div>
    <div id="operate-buttons"> 
      <ul>
        <li><%= link_to "New Comment" ,:action => "princ_new"%></li>
      </ul>
    </div><!-- End #operate-bottons -->
        
  </div> <!-- end #operate-area -->
    
</div> <!-- end #operate-mgt -->

