<div id="operate-mgt">
  <div id="operate-intro">
    <h3>Information About Privacy Page</h3>
    <p>Privacy Page expatiates on CGT privacy principles. The font size of the page is 14px, and its color is green. 
    <p>The width of its display area is 780px, and the length can be scrolled by the context. The content can be text, pictures and videos.
    <p>Please review the content as follows.
    </p>
  </div><!-- end #operate-intro -->

  <div id="operate-area">
    
    <h3>Show Privacy Page Content</h3>
    <h5>(The show box size is the same to Privacy page.)        </h5>
    <div id="operate-show">
      <p>Here is the content of Privacy Page.  
      </p>
    </div>
    <div id="operate-author">
      <h5>Current Author:  </h5> 
    </div>
    <div id="operate-author">     
      <p>Andy</p>
    </div>
    <div id="operate-email">
      <h5>Contact Email:  </h5> 
    </div>
    <div id="operate-email">
      <p>info@cgtechco.com </p> 
    </div>
    <div id="operate-admin">
      <h5>Current Admin: </h5> 
    </div>    
    <div id="operate-admin">
      <p>Zhang Yi</p>
    </div>
    <div id="operate-buttons"> 
      <ul>
        <li><a href="back-privacy-new.html">New Content</a></li>
        <li><a href="back-privacy-del.html">Destory Content</a></li>
      </ul>
    </div><!-- End #operate-bottons -->
        
  </div> <!-- end #operate-area -->
          
</div> <!-- end #operate-mgt -->
