<%= stylesheet_link_tag "about-company", :media => "all"  %>
<% @title = "ABOUT CGT COMPANY" -%>
<!-- About Company Block -->
<div id="company-line">
  <!-- About Company Title Block -->
  <div id="company-title"> 
    <%= image_tag("about-company-title-pic.gif") %>
    <p>About Company</p>
  </div>
  <div id="company-show">
    <div id="company-sub">
      <p id="company-date">Date: system format</p>
      <p id="company-author">Author:XXXX</p>
    </div>
    <div id="company-article">
      <p>Here is the specified content of About Company.</p>
    </div> 
  </div>
</div>
<!-- End of About Company Block -->