<%= stylesheet_link_tag "about-workteam", :media => "all"  %>
<% @title = "ABOUT OUR WORKTEAM" -%>
<!-- About Company Block -->
<div id="workteam-line">
  <!-- About Company Title Block -->
  <div id="workteam-title"> 
    <%= image_tag("about-workteam-title-pic.gif") %>
    <p>About Our Work Team</p>
  </div>
  <div id="workteam-show">
    <div id="workteam-sub">
      <p id="workteam-date">Date: system format</p>
      <p id="workteam-author">Author:XXXX</p>
    </div>
    <div id="workteam-article">
      <p>Here is the content of About Our Work Team. </p>
    </div> 
  </div>
</div>
<!-- End of About Company Block -->
