<%= stylesheet_link_tag "back-services", :media => "all"  %>   
<% @title = "About CGT Page Back - Important Information" -%>
<% @header = "CGT Services Page Back - Important Information" -%>
<div id="block-mgt">    
  <%= render(:partial => 'menu') %>      
  <div id="operate-mgt">
    <div id="operate-intro">
      <h3>Important Information On CGT Services Page Back</h3>
      <p>In side-bar of this page, there are 6 contents to be managed. They are as follows.
      <p><strong>"System Integration Comment" </strong>    <br />       
        It shows what CGT can do in System Integration sector, that is located in middle-left of CGT Services page. The comment box size is max 220 letters and its font size is 12px. Its content is only text.<br />  	
      </p><br /><br /><br />
      
      <p><strong>"Software Development Comment"</strong>    <br /> 
        It briefs the services that CGT provides in SW Development. The comment is located in middle-left of CGT Services page. The comment box size is max 220 letters and its font size is 12px. Its content is only text.<br />  	           
      </p><br /><br /><br />
      <p><strong>"Music & Audio Comment"</strong>    <br /> 
        It describes the services of CGT in Music & Audio. The comment is located under Software Development Comment. The comment box size is max 220 letters and its font size is 12px. Its content is only text. 	
      </p><br /><br /><br />
      <p><strong>"Consultant & Training Comment"</strong>    <br /> 
        This comment tells what CGT focuses on and what CGT can provides in Consultant & Training area. The comment box size is max 220 letters and its font size is 12px. Its content is only text.
      </p><br /><br /><br />
      <p><strong>"Services List Comment"</strong>    <br /> 
        This comment explains what is Services List and what is included in it. The comment box size is max 290 letters and its font size is 12px. Its content is only text.
      </p><br /><br /><br />
      <p><strong>"Services Show Page"</strong>    <br /> 
        In Services Show Page, it displays those service cases of CGT. The content width is 780px, and length can be scrolled by its context. Its font size is 14px. Its content can have text, photos and videos.
      </p>
      
    </div><!-- end #operate-intro -->
    
  </div> <!-- end #operate-mgt -->
</div> <!-- end #block-mgt -->