<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title><%= @title ||= "CGT Blog Login" %></title>
<%= stylesheet_link_tag "blog-common", :media => "all"  %>

</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
            <div id="info">
			<!-- Put Some Ads or Information here when needed -->
			</div>
		</div>
    </div>
	<!-- end #header -->

    <%= yield :layout %>

    <!-- Footer Block -->
	<div id="cgt-footer">
	  <div id="cgt-footer-copyright">
	    <ul>
	      <li>Copyright © 2009 CGTechCo.com. All Rights Reserved. </li>
          <li><%= link_to "Privacy Policy" ,:controller => "privacy"%></li>
        </ul>
	    <br/>
      </div>
	  <div id="cgt-footer-usa">
	    <div id="cgt-footer-portland">
	      <p class="portland-usa">Portland:</p>
        </div>
	    <div id="cgt-footer-portland-date">
	      <iframe class="p-time" src="http://free.timeanddate.com/clock/i15tkil4/n221/fs10/fc444/fti/pa0/tt0/tw1/tm1" frameborder="0" width="200" height="18"></iframe>
        </div>
      </div>
	  <div id="cgt-footer-china">
	    <div id="cgt-footer-beijing">
	      <p class="beijing-cn">Beijing:</p>
        </div>
	    <div id="cgt-footer-beijing-date">
	      <iframe class="b-time" src="http://free.timeanddate.com/clock/clock/i15tkil4/n33/fs10/fc444/fti/pa0/tt0/tw1/tm1" frameborder="0" width="200" height="18"></iframe>
        </div>
      </div>
  </div>
	<!-- end #footer -->
</div>
</body>
</html>

